header.header{
  background-color: #FFF;
  padding: 2px 15px;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: var(--shadow);
  flex-direction: column;
}

header.header h1 {
  font-size: 1.8em;
}